// Data visualisation

$color-100: #08589e;
$color-90: #2b8cbe;
$color-80: #4eb3d3;
$color-70: #7bccc4;
$color-60: #a8ddb5;
$color-50: #ccebc5;
$color-40: #e0f3db;
$color-30: #f7fcf0;

.custom-color-100 {
    color: $color-100;
}

.custom-color-90 {
    color: $color-90;
}

.custom-color-80 {
    color: $color-80;
}

.custom-color-70 {
    color: $color-70;
}

.custom-color-60 {
    color: $color-60;
}

.custom-color-50 {
    color: $color-50;
}

.custom-color-40 {
    color: $color-40;
}

.custom-color-30 {
    color: $color-30;
}